[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "3.1.2"
PyYAML = "6.0"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pyflakes = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"

[scripts]
template = "python3 template.py"
typecheck = "python3 -m mypy template.py"
imports = "python3 -m isort --ignore-whitespace ."
format = "python3 -m black ."
