{{- if and (.Values.appmeshController) (.Values.appmeshController.enable) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: appmesh-controller 
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io    
spec:
  project: default
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/appmesh-controller 
    targetRevision: {{ .Values.targetRevision }}
    helm:
      values: >-
        { "appmesh-controller": {{ .Values.appmeshController | toJson }} }
  destination:
    server: https://kubernetes.default.svc
    namespace: appmesh-system
  syncPolicy:
    automated:
      prune: true   
    syncOptions:
    - CreateNamespace=true 
    retry:
      limit: 1
      backoff:
        duration: 5s 
        factor: 2 
        maxDuration: 1m  
{{- end -}}