{{- if and (.Values.kubecost) (.Values.kubecost.enable) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubecost
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/kubecost
    targetRevision: {{ .Values.targetRevision }}
    helm:
      values: |
        cost-analyzer:
        {{- toYaml .Values.kubecost | nindent 10 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: kubecost
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true      
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}
