{{- if and (.Values.tetrateIstio) (.Values.tetrateIstio.enable) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tetrate-istio
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.repo_url }}
    path: add-ons/tetrate-istio
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace={{ .Values.tetrateIstio.createNamespace }}
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}
