{{- if and (.Values.vpa) (.Values.vpa.enable) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vpa 
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io    
spec:
  project: default
  source:
    repoURL: git@github.com:kcoleman731/argo-add-ons.git
    path: add-ons/vpa
    targetRevision: HEAD
    helm:
      parameters:
      - name: vpa.serviceAccount.name
        value: {{ .Values.vpa.serviceAccountName }}
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true    
    retry:
      limit: 1
      backoff:
        duration: 5s 
        factor: 2 
        maxDuration: 1m  
{{- end -}}